*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
  color: #fff; }

.container {
  display: grid;
  grid-template-rows: 100vh 44vw repeat(7, min-content);
  grid-template-columns: [full-start] minmax(10rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(10rem, 1fr) [full-end]; }

.footer {
  background-color: #26313c;
  padding: 5rem 0;
  grid-column: full-start / full-end; }

.gallery {
  background-color: purple;
  padding: 15rem 0;
  grid-column: full-start / full-end; }

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg-8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: end;
  font-family: "Josefin Sans", sans-serif; }
  .header__title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__secondary {
    font-size: 4.5rem;
    font-weight: 200; }
  .header__primary {
    font-size: 6rem;
    font-weight: 700;
    margin: -2rem 0; }
  .header__text {
    font-size: 2rem;
    font-weight: 200; }

.about {
  grid-column: center-start / center-end;
  padding-top: 17rem;
  display: grid;
  grid-template-columns: minmax(60rem, 1fr) 1fr;
  grid-column-gap: 3rem;
  display: grid;
  align-items: center; }
  .about__content {
    color: #000; }
  .about__header {
    font-size: 5.5rem;
    line-height: 1;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif; }
    .about__header span {
      color: #e39a56; }
  .about__text {
    color: #808080;
    font-size: 1.6rem;
    margin: 2rem 0 4rem 0; }
  .about__picture {
    display: grid;
    justify-items: end; }
    .about__picture .img {
      height: 25rem; }

.experts {
  background-color: orange;
  padding: 15rem 0;
  grid-column: center-start / center-end; }

.features {
  background-color: orchid;
  padding: 15rem 0;
  grid-column: center-start / center-end; }

.process {
  background-color: #26313c;
  padding: 15rem 0;
  grid-column: full-start / full-end; }

.navbar {
  height: 8rem;
  width: 100%;
  z-index: 50;
  display: grid;
  grid-template-columns: repeat(16, 14rem);
  align-items: center;
  position: fixed; }

.logo {
  grid-column: 3 / 5;
  display: flex;
  align-items: center; }
  .logo__img {
    width: 4.5rem;
    height: 4.5rem; }
  .logo__name {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    font-weight: 400; }
    .logo__name span {
      font-size: 2.8rem;
      margin-left: -2px;
      color: #e39a56; }
      .logo__name span span {
        font-size: 4rem;
        margin-left: -6px; }

.nav {
  grid-column: 7 / 10; }
  .nav__list {
    display: grid;
    grid-template-columns: repeat(6, minmax(7rem, min-content));
    grid-column-gap: 3.1rem;
    list-style-type: none; }
  .nav__item {
    font-size: 1.6rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color .3s; }
  .nav__link--active {
    border-bottom: 2px solid #e39a56; }
  .nav__link:hover {
    color: #e39a56; }

.navbar__button {
  margin-right: 4rem;
  grid-column: 12 / 13;
  justify-self: end;
  width: 4rem;
  height: 4rem;
  position: relative;
  cursor: pointer; }

.navbar__icon {
  width: 1.8rem;
  height: 2px;
  background-color: #fff;
  display: block;
  transition: width .4s;
  position: absolute;
  right: 0;
  top: 2rem; }

.navbar__icon::before,
.navbar__icon::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #fff;
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: width .4s; }

.navbar__icon::before {
  top: -6px;
  width: 2.5rem; }

.navbar__icon::after {
  width: .8rem;
  top: 6px; }

.navbar__button:hover .navbar__icon {
  width: 2.5rem; }

.navbar__button:hover .navbar__icon::after {
  width: 2.5rem; }

.boxes {
  grid-column: center-start / center-end;
  grid-row: 1 / 2;
  align-self: end;
  transform: translateY(17rem);
  z-index: 10;
  height: 33rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  align-items: center; }
  .boxes .box {
    grid-row: 1 / -1;
    height: 100%;
    background-color: #26313c;
    padding: 2rem 4rem;
    display: grid;
    grid-template-rows: 8rem repeat(2, max-content);
    align-items: center;
    justify-content: center;
    grid-gap: 2.2rem;
    text-align: center; }
    .boxes .box__icon {
      width: 4.5rem;
      height: 4.5rem;
      fill: #fff;
      align-self: end;
      justify-self: center;
      margin-bottom: 1rem;
      transition: transform .3s; }
    .boxes .box__header {
      font-size: 2.3rem; }
    .boxes .box__text {
      font-size: 1.4rem; }
    .boxes .box-1 {
      height: 28rem; }
    .boxes .box-2 {
      padding: 5rem;
      background-image: linear-gradient(to right, #88745d 0%, #88745d 1%, #e39a56 65%); }
      .boxes .box-2 svg {
        width: 5rem;
        height: 5rem; }
    .boxes .box-3 {
      height: 28rem; }
  .boxes .box:hover .box__icon {
    transform: scale(1.2); }

.btn {
  padding: 1.3rem 4.3rem;
  border: none;
  color: #fff;
  background-image: linear-gradient(to right, #88745d 0%, #88745d 1%, #e39a56 65%);
  border-radius: 50px;
  font-size: 1.5rem; }
