@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-50px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

::selection {
  background-color: #e39a56;
  color: #fff; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
  color: #fff; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(9, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE; }

body::-webkit-scrollbar {
  width: 8px; }

body {
  scrollbar-width: thin; }

body::-webkit-scrollbar-track {
  background: #6c757d; }

body::-webkit-scrollbar-thumb {
  background-color: #e39a56;
  border-radius: 6px; }

.footer {
  background-color: #26313c;
  padding: 5rem 14rem;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-gap: 3rem;
  grid-row-gap: 5rem; }
  @media only screen and (max-width: 1550px) {
    .footer {
      padding: 5rem 10rem;
      grid-column-gap: 1.5rem; } }
  @media only screen and (max-width: 900px) {
    .footer {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 707px) {
    .footer {
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr)); } }
  .footer__header {
    font-size: 2.5rem;
    font-family: "Josefin Sans", sans-serif; }
  .footer__logo {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 400; }
    .footer__logo span {
      font-size: 3rem;
      margin-left: -2px;
      color: #e39a56; }
  .footer__company {
    display: grid;
    grid-row-gap: 2rem;
    font-weight: 400; }
  .footer__desc {
    font-size: 1.3rem; }
  .footer__contacts {
    display: flex;
    align-items: center; }
  .footer__icon-mobi {
    width: 4rem;
    height: 4rem;
    fill: #fff;
    margin-left: -.5rem; }
  .footer__news {
    display: grid;
    grid-row-gap: 2rem;
    font-weight: 400; }
    .footer__news-list {
      list-style-type: none;
      font-size: 1.3rem;
      display: grid;
      grid-row-gap: 2rem; }
    .footer__news-item {
      border-bottom: 1px solid #808080; }
      .footer__news-item p:last-child {
        color: #e39a56;
        font-size: 1.2rem;
        font-weight: 300; }
  .footer__services {
    display: grid;
    grid-row-gap: 2rem;
    justify-self: center;
    font-weight: 400; }
    @media only screen and (max-width: 1039px) {
      .footer__services {
        justify-self: start; } }
    .footer__services-item {
      display: flex;
      align-items: center;
      cursor: pointer; }
    .footer__services-item::before {
      content: "";
      display: inline-block;
      width: 1.1rem;
      height: 1.1rem;
      margin-right: .7rem;
      background-color: #e39a56;
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
      background-image: none; }
    .footer__services-link:link, .footer__services-link:visited {
      color: #fff;
      text-decoration: none;
      transition: all .4s; }
      .footer__services-link:link:hover, .footer__services-link:visited:hover {
        color: #e39a56;
        margin-left: 5px; }
    .footer__services-list {
      list-style-type: none;
      display: grid;
      grid-row-gap: .9rem;
      font-size: 1.3rem; }
  .footer__business {
    display: grid;
    grid-row-gap: 2rem;
    font-weight: 400; }
    .footer__business-text {
      font-size: 1.3rem; }
    .footer__business-list {
      list-style-type: none;
      font-size: 1.3rem;
      display: grid;
      grid-row-gap: 1rem; }
    .footer__business .dashed::before {
      content: "";
      display: inline-block;
      border-bottom: 1px dashed #fff;
      width: 10%;
      margin: 0 5px; }

.footer__business-item {
  display: flex;
  align-items: center; }

.footer__business-item .dots {
  border-bottom: 1px dotted #fff;
  flex: 1; }

.gallery {
  background-color: #fff;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 5vw);
  grid-gap: 2rem;
  padding: 2rem; }
  .gallery__header {
    grid-column: col-start 3 / span 4;
    margin: 7rem 0;
    font-weight: 300;
    text-align: center; }
    @media only screen and (max-width: 850px) {
      .gallery__header {
        margin: 7rem 0 0 0; } }
    @media only screen and (max-width: 450px) {
      .gallery__header {
        grid-column: center-start / center-end; }
        .gallery__header h4 {
          font-size: 1.5rem; }
        .gallery__header h1 {
          font-size: 4rem; } }
    .gallery__header h4 {
      font-size: 2.5rem;
      font-weight: inherit;
      color: #e39a56; }
    .gallery__header h1 {
      font-size: 5rem;
      font-weight: inherit;
      color: #26313c;
      margin-top: -1rem; }
    .gallery__header p {
      font-size: 1.5rem;
      color: #808080; }
  .gallery__item {
    overflow: hidden; }
    .gallery__item--1 {
      grid-row: 1 / 6;
      grid-column: 1 / span 2; }
    .gallery__item--2 {
      grid-row: 1 / 4;
      grid-column: 3 / 6; }
    .gallery__item--3 {
      grid-row: 1 / 3;
      grid-column: 6 / 7; }
    .gallery__item--4 {
      grid-row: 1 / 3;
      grid-column: 7 / -1; }
    .gallery__item--5 {
      grid-row: 8 / -1;
      grid-column: 1 / span 2; }
    .gallery__item--6 {
      grid-row: 4 / 6;
      grid-column: 3 / 5; }
    .gallery__item--7 {
      grid-row: 4 / 5;
      grid-column: 5 / 6; }
    .gallery__item--8 {
      grid-row: 3 / 5;
      grid-column: 6 / 8; }
    .gallery__item--9 {
      grid-row: 3 / 6;
      grid-column: 8 / -1; }
    .gallery__item--10 {
      grid-row: 6 / 8;
      grid-column: 1 / 2; }
    .gallery__item--11 {
      grid-row: 6 / 8;
      grid-column: 2 / 4; }
    .gallery__item--12 {
      grid-row: 6 / 8;
      grid-column: 4 / 5; }
    .gallery__item--13 {
      grid-row: 5 / 8;
      grid-column: 5 / 8; }
    .gallery__item--14 {
      grid-row: 6 / 8;
      grid-column: 8 / -1; }
    .gallery__item--15 {
      grid-row: 8 / -1;
      grid-column: 3 / 4; }
    .gallery__item--16 {
      grid-row: 8 / -1;
      grid-column: 4 / span 2; }
    .gallery__item--17 {
      grid-row: 8 / -1;
      grid-column: 6 / -1; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all .5s; }
    .gallery__img:hover {
      transform: scale(1.2); }

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg-8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: end;
  font-family: "Josefin Sans", sans-serif; }
  .header__title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media only screen and (max-width: 778px) {
      .header__title {
        top: 45%;
        left: 50%;
        display: grid;
        grid-row-gap: 1rem; } }
  .header__secondary {
    font-size: 4.5rem;
    font-weight: 200; }
    @media only screen and (max-width: 778px) {
      .header__secondary {
        font-size: 2.5rem; } }
  .header__primary {
    font-size: 6rem;
    font-weight: 700;
    margin: -2rem 0; }
    @media only screen and (max-width: 778px) {
      .header__primary {
        font-size: 4.5rem;
        line-height: 1;
        margin: 0; } }
    @media only screen and (max-width: 550px) {
      .header__primary {
        font-size: 3.5rem;
        line-height: 1;
        margin: 0; } }
  .header__text {
    font-size: 2rem;
    font-weight: 200; }
    @media only screen and (max-width: 550px) {
      .header__text {
        font-size: 1.5rem; } }

.about {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: minmax(55rem, 1fr) minmax(25rem, 1fr);
  grid-column-gap: 3rem;
  align-items: center; }
  @media only screen and (max-width: 950px) {
    .about {
      grid-template-columns: minmax(40rem, 1fr) min-content; } }
  @media only screen and (max-width: 850px) {
    .about {
      grid-template-columns: 1fr;
      margin-top: -7rem; } }
  @media only screen and (max-width: 707px) {
    .about {
      grid-template-columns: 1fr;
      margin-top: 0; } }
  .about__header {
    font-size: 5rem;
    line-height: 1;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    color: #26313c; }
    @media only screen and (max-width: 850px) {
      .about__header {
        line-height: 1.2;
        font-size: 4rem; } }
    .about__header span {
      color: #e39a56; }
  .about__text {
    color: #808080;
    font-size: 1.6rem;
    margin: 2rem 0 4rem 0; }
  .about__picture {
    justify-self: end;
    display: grid;
    justify-items: end; }
    @media only screen and (max-width: 850px) {
      .about__picture {
        grid-row: 1 / -1;
        margin-bottom: 3rem;
        justify-self: center;
        display: grid;
        justify-items: center; } }
    .about__picture .img {
      height: 24rem; }
      @media only screen and (max-width: 850px) {
        .about__picture .img {
          height: 19rem; } }

.experts {
  margin: 7rem 0;
  grid-column: center-start / center-end;
  color: #26313c; }
  @media only screen and (max-width: 850px) {
    .experts {
      margin: 0; } }
  .experts__title {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 850px) {
      .experts__title {
        grid-template-columns: 1fr;
        text-align: center; } }
  .experts__header h5 {
    font-size: 1.8rem;
    color: #e39a56;
    font-weight: 400; }
  .experts__header h1 {
    margin-top: -1rem;
    font-size: 5rem;
    font-weight: 300; }
    @media only screen and (max-width: 550px) {
      .experts__header h1 {
        font-size: 4rem;
        margin: 1rem;
        line-height: 1; } }
  .experts__text {
    font-size: 1.4rem;
    color: #808080;
    padding: 0 2rem; }
    @media only screen and (max-width: 707rem) {
      .experts__text {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 850px) {
      .experts__text {
        padding: 0 6rem; } }
    @media only screen and (max-width: 850px) {
      .experts__text {
        padding: 0; } }
  .experts__content {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-row-gap: 2rem; }
    @media only screen and (max-width: 850px) {
      .experts__content {
        margin-top: 4rem; } }
  .experts__team-box {
    background-color: #fffaf5;
    height: 38rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25rem min-content min-content;
    text-align: center;
    position: relative;
    z-index: 10; }
  .experts__team-img {
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    object-fit: cover;
    transition: all 2s; }
  .experts__team-box::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    display: block;
    z-index: -1;
    background-color: #e39a56;
    cursor: pointer;
    transform: scaleX(0);
    transition: transform .6s ease-in-out; }
  .experts__team-box:hover::after {
    transform: scaleX(-1);
    height: 34.4%; }
  .experts__team-box:hover .experts__team-name,
  .experts__team-box:hover .experts__team-job {
    color: #fff; }
  .experts__team-box:hover .experts__icon {
    fill: #fff; }
  .experts__team-name {
    grid-column: 1 / -1;
    font-size: 1.8rem;
    margin-top: 2rem; }
  .experts__team-job {
    grid-column: 1 / -1;
    font-size: 1.4rem;
    color: #808080; }
  .experts__team-social {
    grid-column: 1 / -1;
    justify-self: center;
    color: #26313c;
    margin-top: 1rem;
    position: relative;
    z-index: 10; }
  .experts__list-icons {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 4rem); }
  .experts__item-icon {
    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10; }
  .experts__item-icon:hover {
    border: 1px solid transparent; }
  .experts__item-icon::after {
    content: "";
    display: block;
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
    transition: all .4s; }
  .experts__item-icon-1::after {
    background-color: #4267B2; }
  .experts__item-icon-2::after {
    background-color: #24cdd5; }
  .experts__item-icon-3::after {
    background-color: rgba(3, 169, 245, 0.5); }
  .experts__item-icon-4::after {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }
  .experts__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #e39a56; }
  .experts__item-icon:hover::after {
    opacity: 1;
    visibility: visible;
    transform: scale(1); }
  .experts__item-icon:hover .experts__icon {
    fill: #fff !important; }

.features {
  margin: 7rem 0;
  padding: 5rem 0;
  grid-column: center-start / center-end;
  color: #26313c; }
  @media only screen and (max-width: 850px) {
    .features {
      padding: 0;
      margin: 7rem 0 0 0; } }
  .features__title {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    grid-gap: 2rem;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 850px) {
      .features__title {
        grid-template-columns: 1fr;
        text-align: center; } }
  .features__header h5 {
    font-size: 1.8rem;
    color: #e39a56;
    font-weight: 400; }
    @media only screen and (max-width: 450px) {
      .features__header h5 {
        font-size: 1.6rem; } }
  .features__header h1 {
    margin-top: -1rem;
    font-size: 5rem;
    font-weight: 300; }
    @media only screen and (max-width: 550px) {
      .features__header h1 {
        font-size: 4rem;
        margin: 1rem;
        line-height: 1; } }
  .features__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem;
    margin-top: 8rem;
    align-items: center; }
    @media only screen and (max-width: 850px) {
      .features__content {
        grid-template-columns: 1fr;
        justify-content: center; } }
  .features__text {
    font-size: 1.4rem;
    color: #808080;
    padding: 0 2rem; }
    @media only screen and (max-width: 850px) {
      .features__text {
        padding: 0 6rem; } }
    @media only screen and (max-width: 550px) {
      .features__text {
        padding: 0; } }
  .features__items {
    color: #808080;
    padding: 5rem 0; }
    @media only screen and (max-width: 850px) {
      .features__items {
        padding: 0; } }
    .features__items-1, .features__items-3 {
      display: grid;
      grid-row-gap: 5rem; }
  .features .theme,
  .features .customization {
    display: grid;
    justify-items: end;
    grid-row-gap: 1rem; }
    @media only screen and (max-width: 850px) {
      .features .theme,
      .features .customization {
        justify-items: center; } }
  .features .code,
  .features .documentation {
    display: grid;
    grid-row-gap: 1rem; }
    @media only screen and (max-width: 850px) {
      .features .code,
      .features .documentation {
        justify-items: center; } }
  .features__icon {
    width: 3.5rem;
    height: 3.5rem;
    fill: #e39a56; }
    @media only screen and (max-width: 850px) {
      .features__icon {
        width: 4.5rem;
        height: 5.5rem; } }
  .features__header {
    font-size: 2.2rem;
    font-weight: 400; }
  .features__text--right {
    text-align: right;
    font-size: 1.4rem;
    color: #808080; }
    @media only screen and (max-width: 850px) {
      .features__text--right {
        text-align: center; } }
  .features__text--left {
    text-align: left;
    font-size: 1.4rem;
    color: #808080; }
    @media only screen and (max-width: 850px) {
      .features__text--left {
        text-align: center; } }
  .features__item-2 {
    background-image: url(../img/iphone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 115%; }
    @media only screen and (max-width: 70rem) {
      .features__item-2 {
        display: none; } }
  .features__img-page {
    width: 59%;
    height: 96%;
    position: absolute;
    top: 1rem;
    left: 7.4rem;
    border-radius: 20px; }

.process-section {
  background-color: #26313c;
  grid-column: full-start / full-end;
  margin-top: 10rem;
  padding: 10rem 0; }
  @media only screen and (max-width: 850px) {
    .process-section {
      margin-top: 5rem;
      padding: 7rem 0; } }

.process__header {
  text-align: center;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300; }
  .process__header h3 {
    font-size: 2rem;
    font-weight: inherit; }
    @media only screen and (max-width: 850px) {
      .process__header h3 {
        font-size: 1.8rem; } }
  .process__header h1 {
    font-size: 5rem;
    font-weight: inherit; }
    @media only screen and (max-width: 850px) {
      .process__header h1 {
        font-size: 4rem; } }

.processes {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-row-gap: 4rem;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: relative;
  z-index: 10; }
  @media only screen and (max-width: 950px) {
    .processes {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }
  .processes .process {
    display: grid;
    grid-row-gap: 2rem;
    padding: 0 3rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative; }
    .processes .process__number {
      height: 9.5rem;
      width: 9.5rem;
      font-size: 2.5rem;
      border: 1px solid #fff;
      border-radius: 50%;
      background-color: #26313c;
      justify-self: center;
      align-self: center;
      display: grid;
      align-items: center; }
      @media only screen and (max-width: 679px) {
        .processes .process__number {
          height: 7.5rem;
          width: 7.5rem; } }
    .processes .process__title {
      font-size: 1.7rem;
      font-weight: 600; }
    .processes .process__text {
      font-size: 1.4rem;
      width: 80%;
      justify-self: center; }

.process--active .process__number {
  background-image: linear-gradient(to right, #88745d 0%, #88745d 1%, #e39a56 65%);
  box-sizing: content-box;
  border: none; }

.process::before {
  content: "";
  width: 50%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 5rem;
  left: 0;
  z-index: -1; }
  @media only screen and (max-width: 679px) {
    .process::before {
      display: none; } }

.process::after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 5rem;
  right: 0;
  z-index: -1; }
  @media only screen and (max-width: 679px) {
    .process::after {
      display: none; } }

.process:last-child::after {
  display: none; }

@media only screen and (max-width: 950px) {
  .process:nth-child(2)::after {
    display: none; }
  .process:nth-child(3)::before {
    display: none; }
  .process:nth-child(4)::after {
    display: none; }
  .process:last-child::before {
    display: none; } }

.process:first-child::before {
  display: none; }

.navbar {
  grid-column: full-start / full-end;
  background-color: transparent;
  width: 100%;
  z-index: 50;
  padding: 2px 0;
  display: grid;
  grid-template-columns: minmax(1rem, 28rem) repeat(8, minmax(min-content, 14rem));
  align-items: center;
  position: fixed; }
  @media only screen and (max-width: 70rem) {
    .navbar {
      padding: 1rem 0; } }
  .navbar__checkbox {
    display: none; }
  .navbar__background {
    display: grid;
    grid-row-gap: 10rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-image: linear-gradient(to right, #88745d 0%, #88745d 1%, #e39a56 65%);
    opacity: 0;
    visibility: hidden;
    z-index: 50;
    transition: all .7s; }
  .navbar__checkbox:checked body {
    overflow: hidden;
    position: fixed; }
  .navbar__checkbox:checked ~ .navbar__background {
    opacity: 1;
    visibility: visible;
    width: 35%; }
    @media only screen and (max-width: 1039px) {
      .navbar__checkbox:checked ~ .navbar__background {
        width: 38%; } }
    @media only screen and (max-width: 778px) {
      .navbar__checkbox:checked ~ .navbar__background {
        width: 47%; } }
    @media only screen and (max-width: 450px) {
      .navbar__checkbox:checked ~ .navbar__background {
        width: 100%; } }
  .navbar__checkbox:checked ~ .sidebar {
    opacity: 1;
    visibility: visible; }
  .navbar__checkbox:checked ~ .nav {
    opacity: 0;
    visibility: hidden; }
  .navbar__checkbox:checked ~ .sidebar__contact {
    opacity: 1;
    visibility: visible; }
  .navbar__checkbox:checked ~ .navbar__background .sidebar {
    opacity: 1;
    visibility: visible; }

.logo {
  grid-column: 2 / span 2;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 400; }
  .logo span {
    font-size: 3rem;
    margin-left: -2px;
    color: #e39a56; }
    .logo span span {
      font-size: 4rem;
      margin-left: -6px; }

.nav {
  grid-column: 6 / 9; }
  .nav__list {
    display: grid;
    grid-template-columns: repeat(6, min-content);
    grid-column-gap: 3rem;
    list-style-type: none; }
  .nav__item {
    font-size: 1.6rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color .3s; }
  .nav__link--active {
    border-bottom: 2px solid #e39a56; }
  .nav__link:hover {
    color: #e39a56; }
  @media only screen and (max-width: 900px) {
    .nav {
      display: none; } }

.navbar__button {
  margin-right: 4rem;
  grid-column: 11 / -1;
  justify-self: end;
  width: 4rem;
  height: 4rem;
  position: relative;
  cursor: pointer; }
  @media only screen and (max-width: 450px) {
    .navbar__button {
      margin-right: 2rem; } }

.navbar__icon {
  width: 1.8rem;
  height: 2px;
  background-color: #fff;
  display: block;
  transition: width .4s;
  position: absolute;
  right: 0;
  top: 2rem; }

.navbar__icon:focus {
  outline: none; }

.navbar__icon:active {
  outline: none; }

.navbar__icon::before,
.navbar__icon::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #fff;
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: width .4s; }

.navbar__icon::before {
  top: -6px;
  width: 2.5rem; }

.navbar__icon::after {
  width: .8rem;
  top: 6px; }

.navbar__button:hover .navbar__icon,
.navbar__button:hover .navbar__icon::after {
  width: 2.5rem; }

.navbar.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
  box-sizing: content-box;
  animation: moveInTop .7s ease-in-out;
  animation-fill-mode: both; }
  .navbar.scrolled .logo,
  .navbar.scrolled .nav__link-scroll {
    color: #26313c; }
  .navbar.scrolled .navbar__icon,
  .navbar.scrolled .navbar__icon::before,
  .navbar.scrolled .navbar__icon::after {
    background-color: #26313c; }

.boxes {
  grid-column: center-start / center-end;
  transform: translateY(-15rem);
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  align-items: center; }
  @media only screen and (max-width: 850px) {
    .boxes {
      transform: translateY(-12rem);
      justify-content: center;
      grid-template-columns: 1fr;
      grid-column: col-start 3 / span 4; } }
  @media only screen and (max-width: 550px) {
    .boxes {
      grid-column: center-start / center-end; } }
  @media only screen and (max-width: 450px) {
    .boxes {
      grid-column: full-start / full-end; } }
  .boxes .box {
    display: grid;
    grid-gap: 2.2rem;
    padding: 4rem 3rem;
    text-align: center; }
    @media only screen and (max-width: 850px) {
      .boxes .box {
        padding: 0  5rem 1rem 5rem;
        grid-gap: 0; } }
    .boxes .box__icon {
      width: 4.5rem;
      height: 4.5rem;
      fill: #fff;
      align-self: end;
      justify-self: center;
      margin-bottom: 1rem;
      transition: transform .3s; }
    .boxes .box__header {
      font-size: 2.3rem; }
    .boxes .box__text {
      font-size: 1.4rem; }
    .boxes .box-1, .boxes .box-3 {
      height: 30rem;
      background-color: #26313c; }
      @media only screen and (max-width: 850px) {
        .boxes .box-1, .boxes .box-3 {
          height: 20rem; } }
    .boxes .box-2 {
      padding: 4rem;
      height: 33rem;
      background-image: linear-gradient(to right, #88745d 0%, #88745d 1%, #e39a56 65%); }
      @media only screen and (max-width: 850px) {
        .boxes .box-2 {
          height: 20rem;
          padding: 0  5rem 1rem 5rem; } }
      .boxes .box-2 svg {
        width: 5rem;
        height: 5rem; }
  .boxes .box:hover .box__icon {
    transform: scale(1.2); }

.btn {
  padding: 1.3rem 4.3rem;
  border: none;
  color: #fff;
  background-image: linear-gradient(to right, #88745d 0%, #88745d 1%, #e39a56 65%);
  border-radius: 50px;
  font-size: 1.5rem;
  transition: all .3s; }
  .btn:focus {
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
  .btn:hover {
    transform: translateY(-3px); }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }

.counters {
  background-image: linear-gradient(to right, rgba(227, 154, 86, 0.92) 0%, rgba(227, 154, 86, 0.92) 70%), url(../img/bg-9.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  grid-column: 1 / -1;
  padding: 10rem 0;
  margin: 6rem 0; }
  @supports (display: grid) {
    .counters {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      justify-items: center;
      grid-row-gap: 4rem; } }
  .counters .counter {
    text-align: center;
    color: #fff; }
    .counters .counter__icon {
      width: 8rem;
      height: 8rem;
      fill: #fff;
      font-weight: 300; }
      @media only screen and (max-width: 900px) {
        .counters .counter__icon {
          width: 6rem;
          height: 6rem; } }
    .counters .counter__num {
      font-size: 6rem;
      font-family: "Playfair Display",Arial,Helvetica,sans-serif; }
      @media only screen and (max-width: 707px) {
        .counters .counter__num {
          font-size: 4.5rem; } }
      .counters .counter__num span {
        margin-left: -2rem;
        font-size: 6rem;
        font-family: inherit; }
        @media only screen and (max-width: 707px) {
          .counters .counter__num span {
            font-size: 4.5rem;
            margin-left: -1rem; } }
    .counters .counter__heading {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 400;
      margin-top: -1rem; }
  .counters__checkbox {
    display: none; }

.social__list-icons {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 4rem); }

.social__item-icon {
  width: 2rem;
  height: 2rem;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: .5rem;
  cursor: pointer;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10; }

.social__item-icon:hover {
  border: 1px solid transparent; }

.social__item-icon::after {
  content: "";
  display: block;
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
  transition: all .4s; }

.social__item-icon-1::after {
  background-color: #4267B2; }

.social__item-icon-2::after {
  background-color: #24cdd5; }

.social__item-icon-3::after {
  background-color: rgba(3, 169, 245, 0.5); }

.social__item-icon-4::after {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }

.social__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #fff; }

.social__item-icon:hover::after {
  opacity: 1;
  visibility: visible;
  transform: scale(1); }

.sidebar {
  padding: 3rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 10rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.1s;
  z-index: 60; }
  @media only screen and (max-width: 450px) {
    .sidebar {
      text-align: center;
      display: grid;
      justify-items: center; } }
  .sidebar .nav__link--active {
    border-bottom: 2px solid #fff; }
  .sidebar .nav__list {
    grid-template-columns: min-content;
    grid-row-gap: 2.5rem; }
  .sidebar .nav__item {
    font-size: 2.3rem; }
    @media only screen and (max-width: 950px) {
      .sidebar .nav__item {
        font-size: 1.8rem; } }
  .sidebar .nav__link:hover {
    color: #fff; }

.close__icon {
  fill: #fff;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  top: 4rem;
  left: 90%; }
  @media only screen and (max-width: 70rem) {
    .close__icon {
      left: 80%; } }

body.nave-opened {
  height: 100vh;
  overflow-y: hidden; }

.sidebar__contact {
  margin-top: 2rem; }
  .sidebar__contact p {
    font-size: 1.4rem; }

@media only screen and (max-width: 450px) {
  .sidebar__social {
    display: grid;
    justify-content: center; } }
