// .about {
//     background-color: red;
//     padding: 5rem;

//     grid-column: center-start / center-end;
// }

.about {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: minmax(55rem, 1fr) minmax(25rem, 1fr);
    grid-column-gap: 3rem;
    align-items: center;


    @media only screen and (max-width: 950px) {
        grid-template-columns: minmax(40rem, 1fr) min-content;

    }

    @media only screen and (max-width: 850px) {
        grid-template-columns: 1fr;
        margin-top: -7rem;
    }

    @media only screen and (max-width: 707px) {
        grid-template-columns: 1fr;
        margin-top: 0;
    }


    &__header {
        font-size: 5rem;
        line-height: 1;
        font-weight: 400;
        font-family: $font-display;
        color: $color-secondary;

        @media only screen and (max-width: 850px) {
            line-height: 1.2;
            font-size: 4rem;

        }

        @media only screen and (max-width: 450px) {
        }

        span {
            color: $color-primary;
        }
    }

    &__text {
        color: $color-gray;
        font-size: 1.6rem;
        margin: 2rem 0 4rem 0;
    }

    &__picture {
        justify-self: end;
     
        display: grid;
        justify-items: end;

        @media only screen and (max-width: 850px) {
            grid-row: 1 / -1;
            margin-bottom: 3rem;
            justify-self: center;
     
            display: grid;
            justify-items: center;
        }



        .img {
            height: 24rem;

            @media only screen and (max-width: 850px) {
                height: 19rem;

            }
           
        }
    }

}

