// COLOR VARIABLES
$color-primary: #e39a56;
$color-primary-light: #fecc9e;
$color-primary-dark: rgb(136, 116, 93);

$color-secondary: #26313c;

$color--dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;
$color-tertiary: #c69963;

$color-gray: #808080;


$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-facebook: #4267B2;
$color-linkedin: rgba(3, 169, 245, 0.5) ;
$color-instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$color-twitter:#24cdd5;


// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

::selection {
    background-color: $color-primary;
    color: #fff;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: 70rem) {
        font-size: 50.5%;
    }

}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
    color: #fff;
}

.container {
    display: grid;
    grid-template-rows:100vh repeat(8, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]  minmax(6rem, 1fr) [full-end];
}