.boxes {
    // background-color: $color-tertiary;
    grid-column: center-start / center-end;
    grid-row: 1 / 2;
    align-self: end;
    transform: translateY(17rem);
    z-index: 10;
    height: 33rem;

    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
    align-items: center;

    .box {
        grid-row: 1 / -1;
        height: 100%;
        background-color: $color-secondary;
        padding: 2rem 4rem;
        display: grid;
        grid-template-rows: 8rem repeat(2, max-content);
        // grid-template-columns: 30rem;
        align-items: center;
        justify-content: center;
        grid-gap: 2.2rem;



        text-align: center;

        &__icon {
            width: 4.5rem;
            height: 4.5rem;
            fill: #fff;
            align-self: end;
            justify-self: center;
            margin-bottom: 1rem;

            transition: transform .3s;

        }

        &__header {
            font-size: 2.3rem;
        }

        &__text {
            font-size: 1.4rem;
        }

        &-1 {
            height: 28rem;
        }

        &-2 {
            padding: 5rem;
            background-image: linear-gradient(to right, $color-primary-dark 0%,  $color-primary-dark 1%, $color-primary 65%);

           svg {
            width: 5rem;
            height: 5rem;
           }
        }

        &-3 {
            height: 28rem;
        
        }
    }

    .box:hover .box__icon {
        transform: scale(1.2);
    }
    
}
