// .boxes {
//     background-color: green;
//     padding: 5rem;

//     grid-column: center-start / center-end;
// }

.boxes {
    grid-column: center-start / center-end;
    transform: translateY(-15rem);
    z-index: 10;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    align-items: center;


    .box {
        // grid-row: 1 / -1;
        background-color: $color-secondary;
        display: grid;
        grid-gap: 2.2rem;
        padding: 4rem 3rem;
        text-align: center;

        &__icon {
            width: 4.5rem;
            height: 4.5rem;
            fill: #fff;
            align-self: end;
            justify-self: center;
            margin-bottom: 1rem;

            transition: transform .3s;

        }

        &__header {
            font-size: 2.3rem;
        }

        &__text {
            font-size: 1.4rem;
        }

        &-1 {
            height: 30rem;
        }

        &-2 {
            padding: 5rem;
            height: 33rem;
            background-image: linear-gradient(to right, $color-primary-dark 0%,  $color-primary-dark 1%, $color-primary 65%);

           svg {
            width: 5rem;
            height: 5rem;
           }
        }

        &-3 {
            height: 30rem;
        
        }
    }

    .box:hover .box__icon {
        transform: scale(1.2);
    }
    
}
