.btn {
    padding: 1.3rem 4.3rem;
    border: none;
    color: #fff;
    background-image: $color-bg-primary;
    border-radius: 50px;
    font-size: 1.5rem;
    transition: all .3s;


    &:focus {
        outline: none;
        box-shadow: 0 2px 4px rgba(#000000, .3);
    }

    &:hover {
        transform: translateY(-3px);
    }


    &:active {
        transform: translateY(-1px);
        box-shadow: 0 2px 2px rgba(#000000, .3);

    }


}