.btn {
    padding: 1.3rem 4.3rem;
    border: none;
    color: #fff;
    background-image: linear-gradient(to right, $color-primary-dark 0%,  $color-primary-dark 1%, $color-primary 65%);
    border-radius: 50px;
    font-size: 1.5rem;

}