.counters {
    background-image: linear-gradient(to right, #88745d 0%, #88745d 1%, #e39a56 65%);
    grid-column: 1 / -1;
    padding: 10rem 0;
    margin: 6rem 0;

    @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        justify-items: center;
        grid-row-gap: 4rem;
    }

  

    .counter {
        text-align: center;
    
        &__icon {
            width: 8rem;
            height: 8rem;
            fill: #fff;
            font-weight: 300;

            @media only screen and (max-width: 900px) {
                width: 6rem;
                height: 6rem;
                        
            }


        }

        &__num {
            font-size: 6rem;
            font-family: "Playfair Display",Arial,Helvetica,sans-serif;

            @media only screen and (max-width: 707px) {
                font-size: 4.5rem;
            }

            span {
                margin-left: -2rem;
                // margin-top:1rem ;
                font-size: 6rem;
                font-family: inherit;

                @media only screen and (max-width: 707px) {
                    font-size: 4.5rem;
                    margin-left: -1rem;

                }
            }
        }

        &__heading {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 400;
            margin-top: -1rem;
        }
    }
}