.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    position: relative;
    z-index: 1;
    
    background-image: linear-gradient( rgba(0, 0,0 , .6) ,rgba(0, 0,0 , .6)) , url(../img/bg-8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: end;

    font-family: $font-display;


    &__title {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @media only screen and (max-width: 778px) {
            top: 45%;
            left: 50%;
            display: grid;
            grid-row-gap: 1rem;
        }

    }

    &__secondary {
        font-size: 4.5rem;
        font-weight: 200;

        @media only screen and (max-width: 778px) {
            font-size: 2.5rem;
        }

    
    }

    &__primary {
        font-size: 6rem;
        font-weight: 700;
        margin: -2rem 0;

        @media only screen and (max-width: 778px) {
            font-size: 4.5rem;
            line-height: 1;
            margin: 0;
        }
        @media only screen and (max-width: 550px) {
            font-size: 3.5rem;
            line-height: 1;
            margin: 0;
        }
   
    }

    &__text {
        font-size: 2rem;
        font-weight: 200;

        @media only screen and (max-width: 550px) {
            font-size: 1.5rem;
        }
    

    }
}

