.navbar {
    grid-column: full-start / full-end;
    background-color: transparent;
    width: 100%;
    z-index: 50;
    padding: 2px 0;
    display: grid;
    grid-template-columns: minmax(1rem, 28rem) repeat(8, minmax(min-content, 14rem)) ;
    align-items: center;

    position: fixed;
    
    @media only screen and (max-width: 70rem) {
        padding: 1rem 0;
    }

    ////////////////////////////////////////////////////////////
    &__checkbox {
        display: none;
    }

    &__background {
        position: fixed;
        top: 0;
        right: 0;
        width: 35%;
        height: 100vh;
        background-image: $color-bg-primary;
        opacity: 0;
        visibility: hidden;
        z-index: 50;
        

        @media only screen and (max-width: 778px) {
            width: 47%;
        }

        @media only screen and (max-width: 450px) {
            width: 100%;
        }
    }

    //FUNCTIONALITY

    &__checkbox:checked {
        body {
            overflow: hidden;
            position: fixed;
        }
    }

    &__checkbox:checked ~ &__background {
        opacity: 1;
        visibility: visible;

        animation: moveInRight .4s ease-in-out;
        animation-fill-mode: both;

    }

    &__checkbox:checked ~ .sidebar {
        opacity: 1;
        visibility: visible;
    }

    &__checkbox:checked ~ .nav {
        opacity: 0;
        visibility: hidden;
    }
}
///////////////////////////////////////////////
.logo {
    grid-column: 2 / span 2;

    color: white;
    font-family: $font-display;
    font-size: 2.5rem;
    font-weight: 400;

    span {
        font-size: 3rem;
        margin-left: -2px;
    
        color: $color-primary;

        span {
            font-size: 4rem;
            margin-left: -6px;
        }
    }
}

.nav {
    grid-column: 6 / 9;
    &__list {
        display: grid;
        grid-template-columns: repeat(6, min-content);
        grid-column-gap: 3rem;

        list-style-type: none;
    }

    &__item {
        font-size: 1.6rem;
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: #fff;
        font-weight: 500;

        transition: color .3s;
    }

    &__link--active {
        border-bottom: 2px solid $color-primary;
    }

    &__link:hover {
        color: $color-primary;
    }

    @media only screen and (max-width: 900px) {
        display: none;
    }
  
}

.navbar__button {
    margin-right: 4rem;
    grid-column: 11 / -1;
    justify-self: end;
    width: 4rem;
    height: 4rem;
    position: relative;
    cursor: pointer;

    @media only screen and (max-width: 450px) {
        margin-right: 2rem;

    }
}

.navbar__icon {
    width: 1.8rem;
    height: 2px;
    background-color: #fff;
    display: block;
    transition: width .4s;
    position: absolute;
    right: 0;
    top: 2rem;
}

.navbar__icon::before,
.navbar__icon::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #fff;
    position: absolute;
    right: 0;
    cursor: pointer;

    transition: width .4s;

}

.navbar__icon::before {
    top: -6px;
    width: 2.5rem;
}
.navbar__icon::after {
    width: .8rem;
    top: 6px;
}

.navbar__button:hover .navbar__icon,
.navbar__button:hover .navbar__icon::after  {
    width: 2.5rem;
}

// .navbar__button:hover .navbar__icon::after {
//     width: 2.5rem;
// }

////////////////////////////////////////////////
.navbar.scrolled {
    background-color: #fff !important;
    // transition: background-color 200ms linear;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    box-sizing: content-box;

    animation: moveInTop .7s ease-in-out;
    // animation-fill-mode: both;

    .logo,
    .nav__link-scroll {
        color: $color-secondary;   
    }
    .navbar__icon,
    .navbar__icon::before,
     .navbar__icon::after {
        background-color: $color-secondary;
    } 

}

    /////////////////////////////
    // Sidebar
.sidebar {
    grid-column: 1 / -1;
    height: 100vh;
    position: fixed;
    top: 15vw;
    right: 20vw;
    // transform: translate(15vw, 13vw);
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s cubic-bezier(0.68, -.55, 0.265, 1.55) .1s;
    z-index: 60;

    @media only screen and (max-width: 450px) {
        top: 40%;
        left: 40%;
        transform: translate(-20%, -20%);

    }


    .nav__list {
        grid-template-columns: 1fr;
        grid-row-gap: 3rem;
        padding: 2rem;
    }

    .nav__item {
        font-size: 2rem;

        @media only screen and (max-width: 950px) {
            font-size: 1.6rem;
        }
    }

    .nav__link:hover {
        color: #fff;
    }
}

.close__icon {
    fill: #fff;
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    top: 4rem;
    left: 90%;
}

body.nave-opened {
    height: 100vh;
    overflow-y: hidden;
}