.process-section {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    margin-top: 10rem;
    padding: 10rem 0;

}

.process__header {
    text-align: center;
    color: #fff;
    font-family: $font-display;
    font-weight: 300;

    h3 {
        font-size: 2.5rem;
        font-weight: inherit;
    }

    h1 {
        font-size: 6rem;
        font-weight: inherit;

    }
}

.processes {
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    // grid-gap: 10rem;
    font-size: 1.5rem;

    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;

    position: relative;
    z-index: 10;

    .process {
        display: grid;
        grid-row-gap: 2rem;
        padding: 0 3rem;
        align-items: center;
        justify-content: center;
        align-content: center;
        position: relative;
    
        &__number {
            height: 9.5rem;
            width: 9.5rem;
            font-size: 2.5rem;
            border: 1px solid #fff;
            border-radius: 50%;
            background-color: $color-secondary;
            justify-self: center;
            align-self: center;

            display: grid;
            align-items: center;
        }

    }
}

.process--active {
    .process__number { 
        background-image: linear-gradient(to right, $color-primary-dark 0%,  $color-primary-dark 1%, $color-primary 65%);
        box-sizing: content-box;
        border: none;
    }
}

.process::before {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: -1;
    // left: -17.2rem;
}
.process::after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 5rem;
    right: 0;
    // right: 16.8rem;
    z-index: -1;

}

.process:last-child::after {
    display: none;
}

.process:first-child::before {
    display: none;
}